Repository RADAR-base/radar-helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-docs, helm-lint, ct-lint, check-bash-syntax, gitleaks, trivy

helm-docs:
  name: Generate docs for the Helm chart
  language: system
  entry: helm-docs -s file --template-files=charts/_templates.gotmpl --template-files=DOCS.md.gotmpl --template-files=README.md.gotmpl
  pass_filenames: false

helm-lint:
  name: Lint the Helm chart
  language: system
  entry: find charts -maxdepth 1 -type d ! -name charts -exec helm lint --quiet {} \;
  pass_filenames: false

ct-lint:
  name: Validate the Helm charts
  language: system
  entry: ct lint --debug false --skip-helm-dependencies --config .github/ct-lint.yaml
  pass_filenames: false

check-bash-syntax:
  name: Check Shell scripts syntax correctness
  language: system
  entry: bash -n

gitleaks:
  name: Run Gitleaks
  language: system
  entry: gitleaks dir --verbose
  require_serial: true

trivy:
  name: Run Trivy
  language: system
  entry: trivy filesystem --config .trivy.yaml charts
  require_serial: true
  pass_filenames: false

fix: name of template function for radar-push-endpoint
  charts/radar-push-endpoint/templates/_helpers.tpl
  charts/radar-push-endpoint/templates/deployment.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

Update index.yaml
  index.yaml
Due: gitleaks, trivy

feat: first commit of docker_images_external.json
  .github/workflows/docker_images_external.json
Due: gitleaks, trivy

feat: add elasticsearch to ignored docker images
  .github/workflows/scheduled-snyk-docker.yaml
Due: gitleaks, trivy

fix: add default database name for radar-postgresql chart
  charts/radar-postgresql/Chart.yaml
  charts/radar-postgresql/README.md
  charts/radar-postgresql/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: enable ignore of selected charts for scanning
  .github/bin/external_docker_image_matrix
  .github/workflows/scheduled-snyk-docker.yaml
Due: gitleaks, trivy

docs: correct comment for elasticsearch ignore
  .github/workflows/scheduled-snyk-docker.yaml
Due: gitleaks, trivy

feat: ignore init container images from snyk scan
  .github/workflows/scheduled-snyk-docker.yaml
Due: gitleaks, trivy

feat: add trivy chart to ignore list for security scanning
  .github/workflows/scheduled-snyk-docker.yaml
Due: gitleaks, trivy

feat: update .snyk file to ignore all external image vulnerabilities
  .snyk
Due: gitleaks, trivy

fix: commit of docker_images_external.json file by action
  .github/workflows/scheduled-snyk-docker.yaml
Due: gitleaks, trivy

feat: report vulnerabilities to Issues on GitHub
  .github/workflows/docker_images_external.json
  .github/workflows/scheduled-snyk-docker.yaml
  .snyk
Due: gitleaks, trivy

fix: set version of postgresql-exporter to 0.11.1
  external/postgresql/values.yaml
  external/redis/values.yaml
Due: none

feat: up version of upload-connector to 0.5.15
  charts/radar-upload-source-connector/Chart.yaml
  charts/radar-upload-source-connector/README.md
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: up version of jdbc-connector to 10.5.6
  charts/radar-jdbc-connector/Chart.yaml
  charts/radar-jdbc-connector/README.md
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: up version of management portal to 2.1.8
  charts/management-portal/Chart.yaml
  charts/management-portal/README.md
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: up version of oura-connector to 0.6.1
  charts/radar-oura-connector/Chart.yaml
  charts/radar-oura-connector/README.md
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: up version of app-server to 2.2.4
  charts/radar-appserver/Chart.yaml
  charts/radar-appserver/README.md
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: up version of s3-connector to 7.8.1
  charts/radar-s3-connector/Chart.yaml
  charts/radar-s3-connector/README.md
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: up version of fitbit-connector to 0.6.1
  charts/radar-fitbit-connector/Chart.yaml
  charts/radar-fitbit-connector/README.md
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: report vulnerabilities to Issues on GitHub
  .github/bin/external_docker_image_matrix
  .github/workflows/scheduled-snyk-docker.yaml
Due: gitleaks, trivy

feat: add CloundNativePG cluster chart for RADAR-base
  charts/radar-cloudnative-cluster/Chart.lock
  charts/radar-cloudnative-cluster/Chart.yaml
  charts/radar-cloudnative-cluster/charts/cluster-0.2.1.tgz
  charts/radar-cloudnative-cluster/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: add timescale db chart
  charts/radar-cloudnative-cluster/values.yaml
  charts/radar-cloudnative-postgresql/Chart.lock
  charts/radar-cloudnative-postgresql/Chart.yaml
  charts/radar-cloudnative-postgresql/README.md
  charts/radar-cloudnative-postgresql/charts/cluster-0.2.1.tgz
  charts/radar-cloudnative-postgresql/values.yaml
  charts/radar-cloudnative-timescaledb/Chart.lock
  charts/radar-cloudnative-timescaledb/Chart.yaml
  charts/radar-cloudnative-timescaledb/README.md
  charts/radar-cloudnative-timescaledb/charts/cluster-0.2.1.tgz
  charts/radar-cloudnative-timescaledb/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

fix: correct database type names
  charts/radar-cloudnative-postgresql/Chart.yaml
  charts/radar-cloudnative-postgresql/README.md
  charts/radar-cloudnative-timescaledb/Chart.yaml
  charts/radar-cloudnative-timescaledb/README.md
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: update SEP UI chart with new vars
  charts/radar-self-enrolment-ui/Chart.yaml
  charts/radar-self-enrolment-ui/README.md
  charts/radar-self-enrolment-ui/templates/deployment.yaml
  charts/radar-self-enrolment-ui/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: cloudnative-pg database for rest-sources-backend
  charts/radar-rest-sources-backend/Chart.yaml
  charts/radar-rest-sources-backend/README.md
  charts/radar-rest-sources-backend/templates/_helpers.tpl
  charts/radar-rest-sources-backend/templates/configmap.yaml
  charts/radar-rest-sources-backend/templates/deployment.yaml
  charts/radar-rest-sources-backend/templates/secrets.yaml
  charts/radar-rest-sources-backend/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: cloudnative-pg database for management-portal
  charts/management-portal/Chart.yaml
  charts/management-portal/README.md
  charts/management-portal/templates/_helpers.tpl
  charts/management-portal/templates/deployment.yaml
  charts/management-portal/templates/secrets.yaml
  charts/management-portal/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: cloudnative-pg database for app-config
  charts/app-config/Chart.yaml
  charts/app-config/README.md
  charts/app-config/templates/_helpers.tpl
  charts/app-config/templates/deployment.yaml
  charts/app-config/templates/secrets.yaml
  charts/app-config/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: add CloundNativePG postgres and timescaledb charts for RADAR-base
  charts/radar-cloudnative-postgresql/Chart.lock
  charts/radar-cloudnative-postgresql/Chart.yaml
  charts/radar-cloudnative-postgresql/README.md
  charts/radar-cloudnative-postgresql/charts/cluster-0.2.1.tgz
  charts/radar-cloudnative-postgresql/charts/common-2.27.0.tgz
  charts/radar-cloudnative-postgresql/templates/secret-users.yaml
  charts/radar-cloudnative-postgresql/values.yaml
  charts/radar-cloudnative-timescaledb/Chart.lock
  charts/radar-cloudnative-timescaledb/Chart.yaml
  charts/radar-cloudnative-timescaledb/README.md
  charts/radar-cloudnative-timescaledb/charts/cluster-0.2.1.tgz
  charts/radar-cloudnative-timescaledb/charts/common-2.27.0.tgz
  charts/radar-cloudnative-timescaledb/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: cloudnative-pg database for app-server
  charts/radar-appserver/Chart.yaml
  charts/radar-appserver/README.md
  charts/radar-appserver/templates/_helpers.tpl
  charts/radar-appserver/templates/deployment.yaml
  charts/radar-appserver/templates/secrets.yaml
  charts/radar-appserver/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: cloudnative-pg database for data-dashboard-backend
  charts/data-dashboard-backend/Chart.lock
  charts/data-dashboard-backend/Chart.yaml
  charts/data-dashboard-backend/README.md
  charts/data-dashboard-backend/templates/_helpers.tpl
  charts/data-dashboard-backend/templates/configmap.yaml
  charts/data-dashboard-backend/templates/deployment.yaml
  charts/data-dashboard-backend/templates/secrets.yaml
  charts/data-dashboard-backend/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: cloudnative-pg database for upload-connect-backend
  charts/radar-upload-connect-backend/Chart.yaml
  charts/radar-upload-connect-backend/README.md
  charts/radar-upload-connect-backend/templates/_helpers.tpl
  charts/radar-upload-connect-backend/templates/configmap.yaml
  charts/radar-upload-connect-backend/templates/deployment.yaml
  charts/radar-upload-connect-backend/templates/secrets.yaml
  charts/radar-upload-connect-backend/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: add deprecation warning to postgresql and timescaledb charts
  charts/radar-postgresql/Chart.yaml
  charts/radar-postgresql/README.md
  charts/radar-timescaledb/Chart.yaml
  charts/radar-timescaledb/README.md
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: cloudnative-pg database for jdbc-connector
  charts/radar-jdbc-connector/Chart.lock
  charts/radar-jdbc-connector/Chart.yaml
  charts/radar-jdbc-connector/README.md
  charts/radar-jdbc-connector/charts/radar-cloudnative-timescaledb-0.1.0.tgz
  charts/radar-jdbc-connector/templates/_helpers.tpl
  charts/radar-jdbc-connector/templates/configmap.yaml
  charts/radar-jdbc-connector/templates/deployment.yaml
  charts/radar-jdbc-connector/templates/secrets.yaml
  charts/radar-jdbc-connector/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

feat: add radar-grafana chart
  charts/radar-grafana/Chart.lock
  charts/radar-grafana/Chart.yaml
  charts/radar-grafana/README.md
  charts/radar-grafana/charts/common-2.27.0.tgz
  charts/radar-grafana/charts/grafana-8.3.7.tgz
  charts/radar-grafana/values.yaml
Due: helm-docs, helm-lint, ct-lint, gitleaks, trivy

Path conditions:
  helm-docs: any of: charts/
  helm-lint: any of: charts/
  ct-lint: any of: charts/
  check-bash-syntax: any of: \.sh$
  gitleaks: any file but: external/
  trivy: any file but: external/
